body, html {
  background-image: url("https://raw.githubusercontent.com/amaiyabai/MX/master/images/UNADJUSTEDNONRAW_thumb_4c.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Quicksand', Courier, monospace, sans-serif;
}

img {
  border-style: dotted;
  position: fixed;
  top: 50px; right: 250px;
  border-radius: 60%;
  width: 170px;
  height: auto;
}

/*BIO*/
.body {
  text-align: center;
  font-size: 22px;
  letter-spacing: 1.2px;
  word-spacing: -5px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: lowercase;
  min-height: 35vh;
  position: fixed;
  top: 250px;
  right: 190px;
}

hr {
border-style: none none dotted;
color: slategrey;
border-width: 6px;
width: 7%;
margin-top: 110px;
margin-right: 285px;
}

.footer-content {
  position: absolute;
  padding: 7px;
  width: 100%;
  bottom: 2px;
  left: 1020px;
}

a:any-link {
  color: #52606B;
  text-decoration: none;
}
a:visited {
  background-color: #FFFFFF;
}
a:hover {
  color: gainsboro;
}
