body, html {
  height: 70%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://raw.githubusercontent.com/amaiyabai/MX/master/images/UNADJUSTEDNONRAW_thumb_44.jpg");

  /* Full height */
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*NAV MENU*/
#pagecontent {
  text-align: center;
  position: fixed;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1.2px;
  word-spacing: -5px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: lowercase;
}
#navbar {
  color: black;
  text-transform: none;
  display: block;
}
#footer {
  font-size: 32px;
  font-weight: 100;
  opacity: 0.7;
  display: inline-block;
  float: none;
}

#about {
  background-color: white;
  color: slategrey;
  border: 1px;
  letter-spacing: 3px;
  width: auto;
  opacity: 0.6;
  margin: -35px;
  text-align: center;
}

/*BIO*/
.body {
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1.2px;
  word-spacing: -5px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: lowercase;
}

a {
  background-color: #FFFFFF;
  color: #778899;
  text-decoration: none;
}

a:active {
  color: #778899;
}
a:visited {
  background-color: #fff;
}

a:hover {
  color: gainsboro;
}
