body, html {
  background: url(https://raw.githubusercontent.com/amaiyabai/MX/master/images/P4042400.jpg) no-repeat center center fixed;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-content h1 {
  color: white;
  font-size: 10em;
  text-decoration: underline overline;
 /* Margins */
  margin-bottom: 0.5em;
  margin-top: .10em;
  opacity: 0.8;
}

a:any-link {
  background-color: white;
  opacity: 0.6;
  color: black;
  padding: 1em;
  margin-top: 20em;
  display: inline-block;
  width: 250px;
  text-decoration: none;

   /* Border styles */
   border: 1px dotted black;

}

   /* LINK STYLES */
a:hover {
  color: gainsboro;
}

@media all and (max-width: 768px) {
    .container{
        width:100%;
}
