body {
    background-image: url("https://raw.githubusercontent.com/amaiyabai/MX/master/images/P4042400.jpg");
    background-position: right 70% bottom 86%;
  }

/* LINK CODES */
.link {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 75%;
}
.container span {
  color: white;
  text-transform: none;
  display: block;
}
.text1 {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 8px;
  opacity: 0.5;
}
.words {
  text-align: left;
  color: white;
  position: fixed;
  top: 12%;
  left: 4%;
  font-style: normal;
}

/* HYPERLINK COLORS */
a:link, a:visited {
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
}

a:active {
  color: #696969;
}
