body, html {
  background: url(https://raw.githubusercontent.com/amaiyabai/MX/master/images/P4042400.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

a {
  background-color: #FFFFFF;
  color: #778899;
  text-decoration: none;
}

a:active {
  color: #778899;
}
a:visited {
  background-color: #fff;
}

a:hover {
  color: gainsboro;
}

/* BIO */
.words {
  text-decoration: underline overline;
  font-size: 30px;
  text-align: left;
  color: white;
  position: fixed;
  top: 98px; left: 28px;
  opacity: 0.7;
}

.footing {
  color: white;
  opacity: 0.8;
}

.footer-contents {
  text-align: center;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: 100%;
}

/*ABOUT*/
.information {
  text-align: center;
  position: fixed;
  top: 108px; right: 58px;
}
.container span {
  color: black;
  text-transform: none;
  display: block;
}
.about {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 5px;
  opacity: 0.7;
}

/* PORTFOLIO */
.link {
  text-align: center;
  position: fixed;
  top: 148px; right: 58px;
}
.container span {
  color: black;
  text-transform: none;
  display: block;
}
.text1 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 5px;
  opacity: 0.7;
}

/*IG LINK*/
.linked {
  text-align: center;
  position: fixed;
  top: 188px; right: 58px;
}
.container span {
  color: black;
  text-transform: none;
  display: block;
}
.text2 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 5px;
  opacity: 0.7;
}
